<!DOCTYPE html>

<html>

<head>

<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--[if lt IE 9]>

<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">

</script>

<![endif]-->
<style>
</style>

</head>

<body>

<header class="navbar navbar-fixed-top navbar-inverse">

<div class="container">

<%= link_to "Computer Department KU", '#', id: "logo" %>


<nav>

<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Home Page", root_path %></li>
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Administration", '#' %></li>
  <li><%= link_to "Academic", '#' %></li>
  <li><%= link_to "Research", '#' %></li>
  <li><%= link_to "Activities", '#' %></li>
  <li><%= link_to "Contact", contact_path %></li>
</ul>

</nav>

</div>

</header>

<section>


</section>
<aside>
<%= yield %>
</aside>

</body>
<%= render 'layouts/footer' %>



</html>

